$header-color: #1d2126;
$logo-color: #ccd0d7;
$menu-item-color: #a4aead;
$menu-accent-color: #23b7a3;
$header-form-search-color: #3c4047;
$inp-text-color: #a4aead;
$color-white: #ffffff;
$color-title-name: #292f36;
$grey-accent-color: rgb(225,230,234);
$we-are-text-color: #8d8f92;
$social-bg-color: #c8cdd0;
$social-bg-color-hover: #d0d5d9;
$green-square-bg-color: #23b7a4;
$green-square-color-hover: rgb(27, 142, 232);
$bg-white-border-top-color: rgb(228, 231, 234);
$bg-name-members-color: #e1e6ea;
$bg-name-members-color-hover: #3a454d;
$bg-dark-green-color: rgb(58, 69,77);
$grey-accent-color2: rgb(78, 90, 98);
$features-text-color: #dcdfe1;
$form-bg-color: #eaeef1;