@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@700&display=swap');


// mobile //

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-family: "Quattrocento Sans", sans-serif;
}

.header {
    background-color: $header-color;
    padding: 15px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    .row {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        flex-wrap: wrap;

        .logo {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .menu {
            display: flex;
            justify-content: space-between;

            .menu-item a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                color: $menu-item-color;
                text-transform: uppercase;
                padding: 5px;
                border: 2px solid $header-color;
                }
            
            .menu-item a:hover {
                border: 2px solid $menu-item-color;
                border-radius: 3px;
            }
        }
    }
}

.bg-wallpaper {
    
    background-image: url(images/img\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.title {
    margin-bottom: 15px;
    color: $color-white;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    font-size: 16px;
    font-weight: 400;
    color: $logo-color;
}

.view-more {
    margin-top: 40px;
}

.view-more > a {
    font-size: 14px;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
    border: 3px solid $color-white;
    border-radius: 5px;
    padding: 10px;
}

.view-more > a:hover {
    background-color: $menu-accent-color;
    border: 3px solid $menu-accent-color;
}

.title-name {
    font-size: 36px;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    color: $color-title-name;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;

    .grey-accent {
        display: inline-block;
        width: 10px;
        height: 30px;
        background-color: $grey-accent-color;
    }
}

.title-name2 {
    color: $color-white;
}

.grey-accent2 {
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: $grey-accent-color2;
}

.we-are-text {
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 16px;
    color: $we-are-text-color;
    padding-bottom: 15px;
}

.social-link {
    display: flex;
    gap: 3px;
    justify-content: center;
}

.social-bg {
    background-color: $social-bg-color;
    margin-top: 25px;
    margin-bottom: 35px;
}
.social-bg:hover {
    background-color: $social-bg-color-hover;
}

.col-arrange {
    display: flex;
    margin-bottom: 25px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-square {
    width: 50px;
    height: 50px;
    background-color: $green-square-bg-color;
    text-align: center;
    line-height: 50px;
    color: $color-white;
    border: 3px solid $green-square-bg-color;
}

.green-square:hover {
    border: 3px solid $green-square-color-hover;
}

.item-name {
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 18px;
    text-transform: uppercase;
    color: $color-title-name;
}

.item-text {
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 16px;
    color: $we-are-text-color;
}

.bg-white {
    border-top: 2px solid $bg-white-border-top-color;
    margin-bottom: 100px;
}

.team-members {
    text-align: -webkit-center;
}

.bg-name-members {
    background-color: $bg-name-members-color;
    height: 75px;
    width: 263px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 15px;
    margin-top: -4px;
}

.bg-name-members h3 {
    padding-left: 25px;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 16px;
    color: $color-title-name;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.bg-name-members p {
    padding-left: 25px;
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 14px;
    color: $we-are-text-color;
}

.non-padding:hover>.bg-name-members {
    background-color: $bg-name-members-color-hover;
}

.non-padding:hover>.bg-name-members h3 {
    color: $color-white;
}

.non-padding:hover>.bg-name-members p {
    color: $color-white;
}

.position-members-img {
    z-index: -2;
}

.position-members {
    position: relative;
}

.social-member-link {
    display: none;
}

.partnership-display {
    display: none;
}

.img-width-for-mobile {
    position: relative;
    z-index: 2;
}

.cross {
    display: none;
    width: 40px;
    height: 40px;
    background-image: url(images/icon\ \(10\).png);
    z-index: 10;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-guide-hover:hover > .cross {
    display: flex;
}

.photo-guide-hover:hover > .img-width-for-mobile {
    filter: brightness(0.6);
}

.photo-guide-hover:hover .partnership-display {
    display: flex;
    z-index: 10;
}

.non-padding:hover>.social-member-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 3px;
}

.social-member-link > a {
    background-color: $bg-name-members-color-hover;
}

.bg-dark-green {
    background-color: $bg-dark-green-color;
    padding-top: 60px;
    padding-bottom: 40px;
}

.photo-guide {
    text-align: -webkit-center;
}

.bg-color-guide-photo {
    background-color: $color-title-name;
    padding-left: 15px;
}

.text-guide-photo {
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 18px;
    color: $color-white;
    text-transform: uppercase;
}

.view-more-center {
    text-align: center;
    margin-bottom: 60px;
}

.do-items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.do-items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.do-items-img1,
.do-items-img2,
.do-items-img3,
.do-items-img4 {
    background-image: url(images/icon\ \(12\).png);
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
.do-items-img2 {
    background-image: url(images/icon\ \(14\).png);
}
.do-items-img3 {
    background-image: url(images/icon\ \(11\).png);
}
.do-items-img4 {
    background-image: url(images/icon\ \(13\).png);
}

.do-items-title {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 17px;
    color: $color-title-name;
    margin: 15px 0;
}

.do-items-text {
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 16px;
    color: $we-are-text-color;
    margin-bottom: 40px;
}

.features {
    text-align: -webkit-center;
}

.features-items {
    margin-bottom: 45px;
}

.features-title {
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 18px;
    color: $color-white;
    text-transform: uppercase;
    margin: 25px 0 20px 0;
}

.features-text {
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 16px;
    color: $features-text-color;
}

.footer-copy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.copyright {
    margin-bottom: 20px;
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 14px;
    color: $color-white;
}

.social-copy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-padding {
    padding: 30px;
    background-color: $color-white;
}

.form-aplication {
    display: flex;
    flex-wrap: wrap;
}

.form-direction {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.text-area,
.form-list {
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
    background-color: $form-bg-color;
    border: none;
}

.text-area {
    margin-bottom: 20px;
}

.form-button {
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid $green-square-bg-color;
    background-color: $green-square-bg-color;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 14px;
    color: $color-white;
}

.lable-style {
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 14;
    color: $we-are-text-color;
}

.form-list {
    padding: 10px 0;
}

.form-item {
    text-align: start;
    margin-bottom: 20px;
}

.text-form {
    line-height: 26px;
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 16px;
    color: $we-are-text-color;
    margin-bottom: 40px;
}

.contacts-info {
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 20px;
    color: $color-title-name;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 40px;
}

.slider {
    padding: 30px 0;
}

.slider-img {
    width: 230px;
    // height: 600px;
}

.slick-slide {
    text-align: -webkit-center;
}

.slick-dots li button::before {
    font-size: 14px;
    color: rgb(169, 30, 250);
}

.slick-dotted.slick-slider {
    margin-bottom: 60px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* tablet => sm 768px */
@media(min-width:768px) {
    .container {
        max-width: 720px;

        .hidden-xs {
            display: none;
        }
    }

    .team-members {
        display: flex;
        flex-wrap: wrap;
    }

    .photo-guide {
        display: flex;
        flex-wrap: wrap;
    }

    .img-width-for-sm {
        max-width: 300px;
        margin-bottom: 25px;
    }

    .text-guide-photo {
        text-align: left;
        line-height: 40px;
        display: block;
        width: 300px;
    }

    .partnership-display {
        width: 300px;
        position: absolute;
        left: 50%;
        top: 81%;
        transform: translate(-50%, -50%);
    }

    .features {
        display: flex;
        flex-wrap: wrap;
    }

    .form-item {
        margin-bottom: 0;
    }

    .slider-img {
        width: 630px;
        height: 400px;
    }

    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* laptop => md 992px */
@media(min-width:992px) {
    .container {
        max-width: 960px;

        .hidden-xs {
            display: block;
        }

        .row {
            align-items: center;
            justify-content: center;

            .logo {
                display: flex;
                justify-content: flex-start;
            }

            .menu {
                display: flex;
                justify-content: space-around;
            }

            .header-form-search {
                display: flex;
                align-items: center;
                width: 165px;
                border: 3px solid $header-form-search-color;
                border-radius: 3px;
                padding: 5px;
            
                .inp {
                    width: 125px;
                    border: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: $inp-text-color;
                    font-weight: 600;
                    background-color: $header-color;
                }
            
                .inp::placeholder {
                    background-color: $header-color;
                }
            
                .btn {
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    background-image: url(images/icon\ \(1\).png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: $header-color;
                    border: none;
                }
            }
        }
    }

    .block2 {
        display: flex;
        padding-left: 0;
    }

    .square {
        align-items: flex-start;
    }

    .title-name {
        text-align: start;
    }

    .we-are-text {
        padding-bottom: 35px;
    }

    .social-link {
        justify-content: start;
    }

    .team-members {
        display: flex;
        flex-wrap: wrap;
    }

    .non-padding {
        padding: 0;
    }

    .bg-color-guide-photo {
        max-width: 300px;
    }

    .features-items {
        text-align: left;
    }

    .features-img {
        width: 300px;
    }

    .footer-copy {
        text-align: left;
    }

    .copyright {
        margin-bottom: 0;
    }
    
    .social-copy {
        justify-content: end;
    }

    .form-padding {
        position: relative;
        bottom: 260px;
    }

    .slider-img {
        width: 830px;
        height: 550px;
    }

    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .bg-wallpaper {
        text-align: start;
    }
}



/* desktop => lg 1200px */
@media(min-width:1200px) {
    

    .container {
        max-width: 1170px;
    }

    .photo-guide {
        display: flex;
        flex-wrap: wrap;
    }

    .img-width-for-lg {
        max-width: 360px;
        margin-bottom: 30px;
    }

    .bg-color-guide-photo {
        max-width: 360px;
        height: 60px;
    }
    
    .text-guide-photo {
        display: block;
        width: 360px;
        line-height: 60px;
    }

    .partnership-display {
        width: 360px;
        position: absolute;
        left: 50%;
        top: 79%;
        transform: translate(-50%, -50%);
    }

    .features-img {
        width: 360px;
    }

    .slider-img {
        width: 1030px;
        height: 700px;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33333;
        max-width: 33.33333%;
    }
}


/* only mobile <= 767px */
@media(max-width: 768px) {
    .hidden-xs {
        display: none;
    }

    .menu {
        overflow-x: scroll;
    }

    .non-padding {
        padding: 0;
    }

    .img-width-for-mobile {
        max-width: 230px;
        margin-bottom: 20px;
    }

    .bg-color-guide-photo {
        max-width: 230px;
        height: 40px;
    }

    .partnership-display {
        
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-guide-photo {
        text-align: left;
        line-height: 40px;
        display: block;
        width: 230px;
    }

    .features-img {
        width: 230px;
    }

}