@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Quattrocento Sans", sans-serif;
}

.header {
  background-color: #1d2126;
  padding: 15px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container .row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}
.container .row .logo {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.container .row .menu {
  display: flex;
  justify-content: space-between;
}
.container .row .menu .menu-item a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #a4aead;
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid #1d2126;
}
.container .row .menu .menu-item a:hover {
  border: 2px solid #a4aead;
  border-radius: 3px;
}

.bg-wallpaper {
  height: 660px;
  background-image: url(images/img\ \(2\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.title {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: #ccd0d7;
}

.view-more {
  margin-top: 40px;
}

.view-more > a {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  margin-right: 10px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.view-more > a:hover {
  background-color: #23b7a3;
  border: 3px solid #23b7a3;
}

.title-name {
  font-size: 36px;
  font-weight: 700;
  font-family: "Quattrocento Sans";
  color: #292f36;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}
.title-name .grey-accent {
  display: inline-block;
  width: 10px;
  height: 30px;
  background-color: rgb(225, 230, 234);
}

.title-name2 {
  color: #ffffff;
}

.grey-accent2 {
  display: inline-block;
  width: 10px;
  height: 30px;
  background-color: rgb(78, 90, 98);
}

.we-are-text {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 16px;
  color: #8d8f92;
  padding-bottom: 15px;
}

.social-link {
  display: flex;
  gap: 3px;
  justify-content: center;
}

.social-bg {
  background-color: #c8cdd0;
  margin-top: 25px;
  margin-bottom: 35px;
}

.social-bg:hover {
  background-color: #d0d5d9;
}

.col-arrange {
  display: flex;
  margin-bottom: 25px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-square {
  width: 50px;
  height: 50px;
  background-color: #23b7a4;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  border: 3px solid #23b7a4;
}

.green-square:hover {
  border: 3px solid rgb(27, 142, 232);
}

.item-name {
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-size: 18px;
  text-transform: uppercase;
  color: #292f36;
}

.item-text {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 16px;
  color: #8d8f92;
}

.bg-white {
  border-top: 2px solid rgb(228, 231, 234);
  margin-bottom: 100px;
}

.team-members {
  text-align: -webkit-center;
}

.bg-name-members {
  background-color: #e1e6ea;
  height: 75px;
  width: 263px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 15px;
  margin-top: -4px;
}

.bg-name-members h3 {
  padding-left: 25px;
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-size: 16px;
  color: #292f36;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.bg-name-members p {
  padding-left: 25px;
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 14px;
  color: #8d8f92;
}

.non-padding:hover > .bg-name-members {
  background-color: #3a454d;
}

.non-padding:hover > .bg-name-members h3 {
  color: #ffffff;
}

.non-padding:hover > .bg-name-members p {
  color: #ffffff;
}

.position-members-img {
  z-index: -2;
}

.position-members {
  position: relative;
}

.social-member-link {
  display: none;
}

.partnership-display {
  display: none;
}

.img-width-for-mobile {
  position: relative;
  z-index: 2;
}

.cross {
  display: none;
  width: 40px;
  height: 40px;
  background-image: url(images/icon\ \(10\).png);
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-guide-hover:hover > .cross {
  display: flex;
}

.photo-guide-hover:hover > .img-width-for-mobile {
  filter: brightness(0.6);
}

.photo-guide-hover:hover .partnership-display {
  display: flex;
  z-index: 10;
}

.non-padding:hover > .social-member-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 3px;
}

.social-member-link > a {
  background-color: #3a454d;
}

.bg-dark-green {
  background-color: rgb(58, 69, 77);
  padding-top: 60px;
  padding-bottom: 40px;
}

.photo-guide {
  text-align: -webkit-center;
}

.bg-color-guide-photo {
  background-color: #292f36;
  padding-left: 15px;
}

.text-guide-photo {
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.view-more-center {
  text-align: center;
  margin-bottom: 60px;
}

.do-items {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.do-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.do-items-img1,
.do-items-img2,
.do-items-img3,
.do-items-img4 {
  background-image: url(images/icon\ \(12\).png);
  background-position: center;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

.do-items-img2 {
  background-image: url(images/icon\ \(14\).png);
}

.do-items-img3 {
  background-image: url(images/icon\ \(11\).png);
}

.do-items-img4 {
  background-image: url(images/icon\ \(13\).png);
}

.do-items-title {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-size: 17px;
  color: #292f36;
  margin: 15px 0;
}

.do-items-text {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 16px;
  color: #8d8f92;
  margin-bottom: 40px;
}

.features {
  text-align: -webkit-center;
}

.features-items {
  margin-bottom: 45px;
}

.features-title {
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 25px 0 20px 0;
}

.features-text {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 16px;
  color: #dcdfe1;
}

.footer-copy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.copyright {
  margin-bottom: 20px;
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 14px;
  color: #ffffff;
}

.social-copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-padding {
  padding: 30px;
  background-color: #ffffff;
  border: 2px solid #ccd0d7;
}

.form-aplication {
  display: flex;
  flex-wrap: wrap;
}

.form-direction {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.text-area,
.form-list {
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #eaeef1;
  border: none;
}

.text-area {
  margin-bottom: 20px;
}

.form-button {
  padding: 10px 20px;
  border-radius: 3px;
  border: 2px solid #23b7a4;
  background-color: #23b7a4;
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-size: 14px;
  color: #ffffff;
}

.lable-style {
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-size: 14;
  color: #8d8f92;
}

.form-list {
  padding: 10px 0;
}

.form-item {
  text-align: start;
  margin-bottom: 20px;
}

.text-form {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 16px;
  color: #8d8f92;
  margin-bottom: 40px;
}

.contacts-info {
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-size: 20px;
  color: #292f36;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 40px;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* tablet => sm 768px */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container .hidden-xs {
    display: none;
  }
  .team-members {
    display: flex;
    flex-wrap: wrap;
  }
  .photo-guide {
    display: flex;
    flex-wrap: wrap;
  }
  .img-width-for-sm {
    max-width: 300px;
    margin-bottom: 25px;
  }
  .text-guide-photo {
    text-align: left;
    line-height: 40px;
    display: block;
    width: 300px;
  }
  .partnership-display {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 81%;
    transform: translate(-50%, -50%);
  }
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  .form-item {
    margin-bottom: 0;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* laptop => md 992px */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container .hidden-xs {
    display: block;
  }
  .container .row {
    align-items: center;
    justify-content: center;
  }
  .container .row .logo {
    display: flex;
    justify-content: flex-start;
  }
  .container .row .menu {
    display: flex;
    justify-content: space-around;
  }
  .container .row .header-form-search {
    display: flex;
    align-items: center;
    width: 165px;
    border: 3px solid #3c4047;
    border-radius: 3px;
    padding: 5px;
  }
  .container .row .header-form-search .inp {
    width: 125px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #a4aead;
    font-weight: 600;
    background-color: #1d2126;
  }
  .container .row .header-form-search .inp::-moz-placeholder {
    background-color: #1d2126;
  }
  .container .row .header-form-search .inp:-ms-input-placeholder {
    background-color: #1d2126;
  }
  .container .row .header-form-search .inp::placeholder {
    background-color: #1d2126;
  }
  .container .row .header-form-search .btn {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-image: url(images/icon\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1d2126;
    border: none;
  }
  .block2 {
    display: flex;
    padding-left: 0;
  }
  .square {
    align-items: flex-start;
  }
  .title-name {
    text-align: start;
  }
  .we-are-text {
    padding-bottom: 35px;
  }
  .social-link {
    justify-content: start;
  }
  .team-members {
    display: flex;
    flex-wrap: wrap;
  }
  .non-padding {
    padding: 0;
  }
  .bg-color-guide-photo {
    max-width: 300px;
  }
  .features-items {
    text-align: left;
  }
  .features-img {
    width: 300px;
  }
  .footer-copy {
    text-align: left;
  }
  .copyright {
    margin-bottom: 0;
  }
  .social-copy {
    justify-content: end;
  }
  .form-padding {
    position: relative;
    bottom: 260px;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .bg-wallpaper {
    text-align: start;
  }
}
/* desktop => lg 1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .photo-guide {
    display: flex;
    flex-wrap: wrap;
  }
  .img-width-for-lg {
    max-width: 360px;
    margin-bottom: 30px;
  }
  .bg-color-guide-photo {
    max-width: 360px;
    height: 60px;
  }
  .text-guide-photo {
    display: block;
    width: 360px;
    line-height: 60px;
  }
  .partnership-display {
    width: 360px;
    position: absolute;
    left: 50%;
    top: 79%;
    transform: translate(-50%, -50%);
  }
  .features-img {
    width: 360px;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333;
    max-width: 33.33333%;
  }
}
/* only mobile <= 767px */
@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
  .menu {
    overflow-x: scroll;
  }
  .non-padding {
    padding: 0;
  }
  .img-width-for-mobile {
    max-width: 230px;
    margin-bottom: 20px;
  }
  .bg-color-guide-photo {
    max-width: 230px;
    height: 40px;
  }
  .partnership-display {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-guide-photo {
    text-align: left;
    line-height: 40px;
    display: block;
    width: 230px;
  }
  .features-img {
    width: 230px;
  }
}/*# sourceMappingURL=style.css.map */